*{
    margin: 0; 
    padding: 0; 
}

.header{
    font-family: Century Gothic;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 40px; 
}

.para{
    font-family: century gothic; 
    color: black;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px; 
}